.home {
  background-color: #f1f2f2;
  direction: rtl;
  margin: 0px;
}

.fContainer {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.borderBottom {
  border-bottom: 2px solid #f1f2f2;
}
.divider {
  display: inline-block;
  width: 1px;
  background-color: #f1f2f2;
  /* margin: 10px; */
  padding: 2px;
  height: 8em;
}
.AccordionOne {
  width: 30%;
  margin: 13px;
}
.AccordionTwo {
  width: 64%;
  margin: 10px;
}

p {
  font-size: smaller;
}

