.myNav{
  background-color: #1dbf73 !important;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 6px; */
    /* transform: translateY(0px); */
}

.navLink{
  color: #FFFFFF !important;
  transition: all 0.5s ease-in-out;
}

/* .navLink:hover{
  color:  #2b7a55 !important;
  transform: scale(1.1 , 1.1);
} */


.nav{
  margin-left: auto;
}

body[dir='rtl'] .nav{
  margin-right: auto;
}

.navLink a{
  border: none !important;
  outline: none !important;
}
