/* .dashboard-btn a {
  text-decoration: none;
  color: #2b2c2f;
} */
.dashboard-btn:hover {
  background-color: #1dbf73;

  text-decoration: none;
  color: #ffffff;
}
.dashboard-btn i {
  font-size: 2rem;
}
.dashboard-btn {
  transition: 0.4s;
  background-color: #ffffff;
  padding: 0.8rem;
  padding-bottom: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #2b2c2f;
  width: 7rem;
}
