
.page_content{
    margin-right: 250px;
    margin-top: 200px;
    direction: rtl;
}

.btnCreate {
    background-color: #1dbf73 !important; 
    color: #ffffff !important;
}

.page_content strong,option{
    color: #777 !important;
}


.create_accont{
    border: 2px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
}

.create_accont:hover{
    border-color: #1dbf73 !important;
}
.pull_right{
    float: right;
}