@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.mainapp {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  display: flex;

  /* flex-grow: 1; */
  width: 100%;
  background-color: #f1f2f2;
}
