@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.mainapp {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  display: flex;

  /* flex-grow: 1; */
  width: 100%;
  background-color: #f1f2f2;
}
.routing-page {
  /* flex-grow: 1; */
  top: 5rem;
  position: relative;
  /* padding-top: 5rem; */
  margin-top: 5rem;
  margin-inline: 0;
  height: 100vh;
  overflow: scroll;
}
